body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b2df90;
}
p,ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #fa2a00;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    cursor: pointer;
    color: #1500ff;
}

.faq-item p, .faq-item ul {
    display: none;
    margin-top: 10px;
}