.fs-4 {
    font-family: "Itim", serif;
    font-weight: 500;
    font-style: normal;
  }
.nav-link{
  color: cornsilk;
  background-color: black;
  margin-right: 5px;
  border-radius: 5px;
  border-top: 5px;
  border-bottom: 5px;
}
.nav-link:hover{
  background-color: aqua;
}
.heading{
  color: blueviolet;
}
.headi{
  color: black;
  font-size: 2rem;
}
.imag{
  border-radius: 25px; 
  border-image-slice: 25px;
}
.views{
  background-color: blueviolet;
}
@media screen and (max-width: 600px) {
  p {
      flex-direction: column;
      align-items: flex-start;
  }
  p a {
      width: 100%;
      text-align: left;
  }
}