body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}